{% extends "base.html" %}

{% block content %}
  {{ section.content | safe }}



  <h2>The EuSSI organizing team</h2>
  {% set data = load_data(path="content/consortium/people.yaml") %}
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    {% for person in data.team %}
      <div class="uk-width-1-3@m">
        {% set image = resize_image(path="consortium/" ~ person.picture, width=140, height=140, op="fill") %}
        <img src="{{ image.url }}">
        <br>
        <a href="{{ person.homepage | safe }}">{{ person.name }}</a>
        <p>
          {{ person.text | markdown | safe }}
        </p>
      </div>
    {% endfor %}
  </div>

  <h2>Involved organizations</h2>
  {% set data = load_data(path="content/consortium/organizations.yaml") %}
  <div class="uk-child-width-expand@s" uk-grid>
    {% for organization in data.organizations %}
      <div class="uk-width-1-2@m">
        {% set image = resize_image(path="consortium/" ~ organization.logo, height=100, op="fit_height") %}
        <img src="{{ image.url }}">
        <p>
          {{ organization.text | markdown | safe }}
        </p>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
