{% extends "base.html" %}

{% block content %}
  {{ section.content | safe }}

  <h2>The EUSSI consortium team</h2>
  {% set data = load_data(path="content/consortium/people.toml") %}
  <div bp="grid 6@sm 6@md 4@lg">
    {% for person in data.team %}
      <div class="center">
        {% set member_image = resize_image(path="consortium/" ~ person.picture, width=100, height=100, op="fill") %}
        <img src="{{ member_image.url }}"
             alt="consortium member picture">
        <br>
        {% if person.homepage %}
          <a href="{{ person.homepage | safe }}">{{ person.name }}</a>
        {% else %}
          {{ person.name }}
        {% endif %}
        <br>
        <p>
          {{ person.text }}
        </p>
      </div>
    {% endfor %}
  </div>

  <h2>Member organizations</h2>
  {% set data = load_data(path="content/consortium/organizations.toml") %}
  <div bp="grid 12@sm 12@md 6@lg">
    {% for organization in data.organizations %}
      <div class="center-image">
        {% set org_image = resize_image(path="consortium/" ~ organization.logo, width=150, op="fit_width") %}
        <img src="{{ org_image.url }}"
             alt="organization logo">
      <br>
      {{ organization.text | markdown | safe }}
      </div>
    {% endfor %}
  </div>

{% endblock content %}
