{% extends "base.html" %}

{% block content %}
  <div class="post-title">
    <h1>{{ page.title }}</h1>
    <small>
      {{ page.date | date(format="%B %d, %Y") }}
    </small>
  </div>

  <div>
    {{ page.content | safe }}
  </div>

  {% if page.earlier or page.later %}
    <hr class="footer-rule" />
  {% endif %}

  <div class="related-container">

    {% if page.earlier %}
      <div class="link">
        Previous <br />
        <a href="{{ page.earlier.permalink | safe }}">{{ page.earlier.title }}</a>
      </div>
    {% endif %}

    {% if page.later %}
      <div class="link">
        Next <br />
        <a href="{{ page.later.permalink | safe }}">{{ page.later.title }}</a>
      </div>
    {% endif %}

  </div>

{% endblock content %}
