{% extends "base.html" %}

{% block content %}
  {{ section.content | safe }}

  <h2>Persons supporting EUSSI</h2>
  {% set data = load_data(path="content/support/people.toml") %}
  <ul>
    {% for person in data.people %}
      <li>
      {% if person.homepage %}<a href="{{ person.homepage | safe }}">{{ person.name }}</a>{% else %}{{ person.name }}{% endif %},
      {{ person.organization }}
      </li>
    {% endfor %}
  </ul>

  <h2>Organizations supporting EUSSI</h2>
  {% set data = load_data(path="content/support/organizations.toml") %}
  <div bp="grid 12@sm 12@md 6@lg">
    {% for organization in data.organizations %}
      <div class="center-image">
        <img src="{{ resize_image(path="support/" ~ organization.logo, width=150, op="fit_width") | safe }}"
             alt="organization logo">
      <br>
      {{ organization.text | markdown | safe }}
      </div>
    {% endfor %}
  </div>

{% endblock content %}
